@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 80%;
  margin: auto;
}

h3{
    font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 1rem 0;
  padding-bottom: 0.8rem;
  border-bottom: 4px solid slateblue;
}

.list{
    margin: 0.2rem;
    border-radius: 20px;
}

.list:hover{
    margin-left: 0.8rem;
    background-color: antiquewhite;
    border-radius: 20px;
}

b{
    display: inline-block;
    width: 2rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: slateblue;
  font-size: smaller;
  padding: 0.5rem;
  color: aliceblue;
  margin-right: 0.5rem;
  border-radius: 20px;
}

del{
    color: red;
}
